.day-night-checkbox {
  width: 70px;
  height: 32px;
}

.day-night-checkbox input {
  display: none;
}

.day-night-checkbox label {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 50px;
  background: #3f51b5;
  position: relative;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
}

.day-night-checkbox .knob {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: blanchedalmond;
  position: absolute;
  transition: all 0.3s ease-in;
  top: 50%;
  transform: translateY(-50%);
  right: 38px;
  box-shadow: 
    inset 2px -1px 0px 2px rgba(0, 0, 0, 0.05),
    0px 0px 10px 0px #ffffff;
}

.day-night-checkbox .knob:after {
  content: "";
  width: 6px;
  height: 9px;
  background-color: rgba(249, 215, 165, 0.37);
  top: 10%;
  left: 54%;
  transform: rotate(-35deg);
  box-shadow: -10px 8px 0px 4px rgba(249, 215, 165, 0.37);
  position: absolute;
  border-radius: 50%;
}

.day-night-checkbox i {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  right: 35%;
  top: 50%;
  background: white;
  box-shadow:
    0 0 0 2px rgb(255 255 255 / 28%),
    -12px -16px 0 -1.2px white,
    15px -20px 0 -1.5px white,
    27px 0.35px 0 -2.3px white;
  animation: show .5s ease-in-out;
}

.day-night-checkbox input:checked + label {
  background: #00bcd4;
}

.day-night-checkbox input:checked + label .knob {
  right: 4px;
  background: rgb(251, 207, 7);
  box-shadow:
    inset -2px -1px 0px 2px rgba(0, 0, 0, 0.05),
    0px 0px 20px 5px rgb(255, 224, 82);
}

.day-night-checkbox input:checked + label .knob:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 10px;
  top: 55%;
  position: absolute;
  left: -119%;
  box-shadow:
    -12px -1px 0px 1px white,
    -9px -2px 0px 2px white,
    -3px -3px 0px 3px white,
    2px -1.5px 0px 1.5px white,
    5px -0.5px 0px 0.5px white,
    -6px -1.9px 0px 2px white;
  animation: example 10s linear infinite;
}

.day-night-checkbox input:checked + label i {
  animation: hide 0.5s ease-in-out forwards;
}

@keyframes example {
  0% { left: -219%; }
  100% { left: 159%; }
}

@keyframes show {
  0% { transform: translateY(-700%) translateX(1500%); }
  100% { transform: translateY(0%) translateX(0%); }
}

@keyframes hide {
  0% { transform: translateY(0%) translateX(0%); }
  100% { transform: translateY(700%) translateX(-1500%); }
}