---
import MetricCard from "./MetricCard.astro";

import documentIcon from "../../icons/documentIcon.svg";
import AstroFlag from "../../icons/AstroFlag.svg";
import FlameChart from "../../icons/FlameChart.svg";
import TrophyChart from "../../icons/TrophyChart.svg";

import type { EvolutionResult } from "../../domain/services/calculateEvolution";
import type { DashboardMetric } from "../../types/dashboard";

interface Props {
  totalEssays: number;
  averageScore: number;
  evolutionLastThree: EvolutionResult;
  streakWeeks: number;
}

const {
  totalEssays,
  averageScore,
  evolutionLastThree,
  streakWeeks,
} = Astro.props;

const { value, trend } = evolutionLastThree;
const formattedAverageScore = Number(averageScore.toFixed(1));

const evolutionVariation =
  trend === "up"
    ? `+${value}`
    : trend === "down"
    ? `-${value}`
    : `${value}`;

const evolutionVariationType =
  trend === "up" ? "positive" : trend === "down" ? "negative" : "neutral";

const metrics: DashboardMetric[] = [
  {
    title: "Redações Enviadas",
    value: totalEssays,
    variation: "+2",
    variationType: "positive",
    icon: documentIcon,
    iconColor: "text-purple-500",
    iconBg: "null",
    iconSize: "w-25 h-25",
  },
  {
    title: "Média Geral",
    value: formattedAverageScore,
    variation: "+18",
    variationType: "positive",
    icon: AstroFlag,
    iconColor: "text-yellow-500",
    iconBg: "null",
    iconSize: "w-25 h-25"
  },
  {
    title: "Evolução Recente",
    value: value,
    variation: evolutionVariation,
    variationType: evolutionVariationType,
    icon: TrophyChart,
    iconColor: "text-blue-500",
    iconBg: "null",
    iconSize: "w-25 h-25"
  },
  {
    title: "Semanas em sequência",
    value: streakWeeks,
    variation: "Consistência ativa",
    variationType: "positive",
    icon: FlameChart,
    iconColor: "text-orange-500",
    iconBg: "null",
    iconSize: "w-25 h-25"
  },
];
---

<section class="mb-12">
  <div class="max-w-7xl mx-auto px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {metrics.map((metric) => (
        <MetricCard {...metric} />
      ))}
    </div>
  </div>
</section>
