---
// nenhum import extra
---

<div class="day-night-checkbox">
  <input type="checkbox" id="theme-toggle">
  <label for="theme-toggle">
    <span class="knob"></span>
    <i></i>
  </label>
</div>

<script is:inline>
  const checkbox = document.getElementById("theme-toggle");

  function applyTheme(isDark) {
    if (isDark) {
      document.documentElement.classList.add("dark");
      localStorage.setItem("theme", "dark");
      checkbox.checked = false; // Lua
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("theme", "light");
      checkbox.checked = true; // Sol
    }
  }

  // Estado inicial
  const savedTheme = localStorage.getItem("theme");

  if (savedTheme === "dark") {
    applyTheme(true);
  } else {
    applyTheme(false);
  }

  checkbox.addEventListener("change", () => {
    const isDark = !checkbox.checked; 
    applyTheme(isDark);
  });
</script>

<style is:global>
  @import "../../styles/theme-toggle.css";
</style>